<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="whiteAlpha br12 p20 pt10 p5Phone min-h500">
        <div class="row mb30">
          <div class="col-md-12">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option1"> On
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option2"> Off
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 h300">
            <div id="slider-vertical" class="w40" style="height: 200px;"></div>
          <div class="col-md-12">
            <div id="slider-vertical" class="w40" style="height: 200px;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Temperature Slider
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Temperature Format C/F
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 fl" id="staticChart" style="width:300px;height:150px;">
            Test
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 fr">
            Float right (real time temperature update
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

   <script>
  $(function() {
    $( "#slider-vertical" ).slider({
      orientation: "vertical",
      range: "min",
      min: 0,
      max: 100,
      value: 60,
      slide: function( event, ui ) {
        $( "#amount" ).val( ui.value );
      }
    });
    $( "#amount" ).val( $( "#slider-vertical" ).slider( "value" ) );
  });
  </script>
