<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 whiteAlpha">
      <div class="">
        On/Off
      </div>

      <div class="">
        Current temperature
      </div>

      <div class="">
        Temperature Slider
      </div>

      <div class="">
        Temperature Format C/F
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-2 whiteAlpha">
      Float left (history chart)
    </div>

    <div class="col-md-4 col-md-offset-1 whiteAlpha">
      Float right (real time temperature update
    <div>
  </div>
</div>
