<div class="container mb40">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="whiteAlpha br12 p40 pt10 p10Phone p5Phone min-h500">
        <div class="row mb30">
          <div class="col-md-6 min-h300">
            <h1 class="mb10Phone">Set Temperature</h1>
            <div id="slider-vertical" class="w40 fl" style="height: 200px;"></div>
            <input type="text" id="amount" readonly="readonly" class="fl pl20 w85pPhone font90Phone mt20Phone" />
          </div>
          <div class="col-md-6">
            <h1 class="mb40">Manage Thermostat</h1>
            <div class="btn-group btn-group-lg" data-toggle="buttons">
              <label class="btn btn-primary btn-xl active">
                <input type="radio" name="options" id="option1"> On
              </label>
              <label class="btn btn-primary btn-xl">
                <input type="radio" name="options" id="option2"> Off
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>Current Temperature Reading</h1>
            <div class=" overflowHide" style="padding:20px">
              <div class="whiteAlpha overflowHide br12" style="padding:20px">
                <div class="col-md-6" id="dynamicChart" style="width:100%;height:350px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>Temperature History</h1>
            <div class=" overflowHide" style="padding:20px">
              <div class="whiteAlpha overflowHide br12" style="padding:20px">
                <div class="col-md-6" id="staticChart" style="width:100%;height:350px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
   <script>
  $(function() {
    $( "#slider-vertical" ).slider({
      orientation: "vertical",
      range: "min",
      min: -20,
      max: 120,
      value: 60,

      slide: function( event, ui ) {
        $("#amount").val( ui.value + '°')
      }
    });
    $( "#amount" ).val( $( "#slider-vertical" ).slider( "value" ) + '°' );
  });


$(document).ready(function() {
  var options = {
    lines: { show: true },
    points: { show: true },
    xaxis: { tickDecimals: 0, tickSize: 1 }
  };

  var data = [];
  var staticChart = $("#staticChart");
  var dynamicChard = $("#dynamic-chart");
  var alreadyFetched = {};

  $.ajax({
    url: '/json/static.json',
    method: 'GET',
    dataType: 'json',
    success: onDataReceived
  });

  function onDataReceived(series) {
    // extract the first coordinate pair so you can see that
    // data is now an ordinary Javascript object
    var firstcoordinate = '(' + series.data[0][0] + ', ' + series.data[0][1] + ')';


      // let's add it to our current data
      if (!alreadyFetched[series.label]) {
          alreadyFetched[series.label] = true;
          data.push(series);
      }

      // and plot all we got
      $.plot(staticChart, data, options);
    }

    fetchData();

    function fetchData() {

      data = []
      alreadyFetched = {};

      function onDataFetch(series) {

        data = [series];

        $.plot($("#dynamicChart"), data, options);

      }

      $.ajax({
        url: '/temperature/get',
        method: 'GET',
        dataType: 'json',
        success: onDataFetch
      });

      setTimeout(fetchData, 1000);
    }
  });
  </script>
