[% page.body_class.push('test') -%]
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p class="whiteText tCenter font80 font45Phone mb0 fw4 blueText shadow">OpenClimate</img>
			<p class="whiteText font28 fw2 tCenter mb45 white font25Phone">Open source connected thermostat using Raspberry Pi</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12 pb70 centerContentPhone centerContentTablet centerContentTabletSmall"><div class="w100p centerContent">
		[% IF !c.user_exists() %]<a href="/user/create" class="btn btn-oc btn-lg btn-xl br6 w80pPhone w60pTablet w80pTabletSmall">Get Open Climate</a>[% ELSE %][% END %]
		</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p class="font40 fw4 tCenter mt50 mb20"></p>
		</div>
	</div>

	<div class="row">

		<div class="col-md-4 tCenter">
			<div class="p40">
				<span class="fa-stack fa-5x">
					<i class="fa fa-square fa-stack-2x blueText"></i>
					<i class="fa fa-tachometer fa-stack-1x text-info mt-5"></i>
				</span>
				<h3 class="font25 mb10 mt20 fw4 text-info">Change Thermostat</i></h3>
			</div>
		</div>

		<div class="col-md-4 tCenter">
			<div class="p40">
				<span class="fa-stack fa-5x">
					<i class="fa fa-square fa-stack-2x blueText"></i>
					<i class="fa fa-magic fa-stack-1x text-info"></i>
				</span>
				<h3 class="font25 mb10 mt20 fw4 text-info">Magic</h3>
			</div>
		</div>

		<div class="col-md-4 tCenter">
			<div class="p40">
				<span class="fa-stack fa-5x">
					<i class="fa fa-square fa-stack-2x blueText"></i>
					<i class="fa fa-smile-o fa-stack-1x text-info"></i>
				</span>
				<h3 class="font25 mb10 mt20 fw4 text-info">Happy Face</h3>
			</div>
		</div>

	</div>
</div>