[% page.body_class.push('test') -%]
<div class="container hero-unit">
	<div class="row">
		<div class="col-md-12 pt100 mt30">
			<p class="whiteText tCenter font80 mb0 fw4 blueText shadow">OpenClimate</o>
			<p class="whiteText font28 fw2 tCenter mb45 white">Open source connected thermostat using Raspberry Pi</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-5 pb70">
			<a class="btn btn-oc-white btn-lg br6">Get Open Climate</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p class="font40 fw4 tCenter mt50 mb20"></p>
		</div>
	</div>

	<div class="row">

		<div class="col-md-4 tCenter">
			<div class="p40">
				<span class="fa-stack fa-5x">
					<i class="fa fa-circle fa-stack-2x blueText"></i>
					<i class="fa fa-tachometer fa-stack-1x white mt-5"></i>
				</span>
				<h3 class="font25 mb10 mt20 fw4">Change Thermostat</h3>
			</div>
		</div>

		<div class="col-md-4 tCenter">
			<div class="p40">
				<span class="fa-stack fa-5x">
					<i class="fa fa-circle fa-stack-2x blueText"></i>
					<i class="fa fa-magic fa-stack-1x white"></i>
				</span>
				<h3 class="font25 mb10 mt20 fw4">Magic</h3>
			</div>
		</div>

		<div class="col-md-4 tCenter">
			<div class="p40">
				<span class="fa-stack fa-5x">
					<i class="fa fa-circle fa-stack-2x blueText"></i>
					<i class="fa fa-smile-o fa-stack-1x white"></i>
				</span>
				<h3 class="font25 mb10 mt20 fw4">Happy Face</h3>
			</div>
		</div>

	</div>
</div>

[% IF 1 -%]
<div class="container">
	<div class="row min-h200">
		<div class="col-md-12 pt100 mt43">
		</div>
	</div>
</div>
[% END -%]