<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html">
  <title>[% template.title or "My Catalyst App!" %]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/OpenClimateClient.css" />
  <link rel="stylesheet" href="static/css/bootstrap.css" />
  <script type="text/javascript" href="static/js/bootstrap.js"></script>
</head>
<body>
  [% template.title or siste.title %]
  [% content %]
</body>
</html>
