body {
	font-family: 'Roboto', sans-serif;
}
.message {
	color: #390;
}
.error {
background-color: #ffc3d4;
border-color: #ffa9d1;
color: #ff2a68;
padding: 6px 6px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
}
.error_message {
	display: inline-block;
	padding-bottom: 10px;
}

body {
background: #30ffce; /* Old browsers */
background: -moz-linear-gradient(top,  #30ffce 0%, #4ccfff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#30ffce), color-stop(100%,#4ccfff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #30ffce 0%,#4ccfff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #30ffce 0%,#4ccfff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #30ffce 0%,#4ccfff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #30ffce 0%,#4ccfff 100%); /* W3C */
min-height: 400px;
}
html {
	background: #4ccfff;
}
.whiteAlpha {
  background: rgba(255,255,255,.3);
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
.white {
	color: white;
}
.blueText {
	color: #007aff;
}

.btn-oc {
  background-color: rgba(0,0,0,0) !important;
  border-color: #007aff;
  border-width: 2px;
  color: #007aff;
}
.btn-oc:hover,
.btn-oc:focus,
.btn-oc:active,
.btn-oc.active {
  background-color: rgba(0,0,0,0) !important;
  border-color: #30ffce;
  color: #30ffce;  
}
.btn-oc.disabled:hover,
.btn-oc.disabled:focus,
.btn-oc.disabled:active,
.btn-oc.disabled.active,
.btn-oc[disabled]:hover,
.btn-oc[disabled]:focus,
.btn-oc[disabled]:active,
.btn-oc[disabled].active,
fieldset[disabled] .btn-oc:hover,
fieldset[disabled] .btn-oc:focus,
fieldset[disabled] .btn-oc:active,
fieldset[disabled] .btn-oc.active {
  background-color: rgba(0,0,0,0) !important;
  border-color: #ccc;
  color: #ccc;
}
.btn.btn-oc:active,
.btn.btn-oc.active {
  outline: 0;
  background-image: none;
  border-color: #fff;
  color: #fff;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.0);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.0);
}

.btn-oc-white {
  background-color: none;
  border-color: #fff;
  border-width: 2px;
  color: #fff;
}
.btn-oc-white:hover,
.btn-oc-white:focus,
.btn-oc-white:active,
.btn-oc-white.active {
  background-color: none;
  border-color: #007aff;
  color: #007aff;
}
.btn-oc-white.disabled:hover,
.btn-oc-white.disabled:focus,
.btn-oc-white.disabled:active,
.btn-oc-white.disabled.active,
.btn-oc-white[disabled]:hover,
.btn-oc-white[disabled]:focus,
.btn-oc-white[disabled]:active,
.btn-oc-white[disabled].active,
fieldset[disabled] .btn-oc-white:hover,
fieldset[disabled] .btn-oc-white:focus,
fieldset[disabled] .btn-oc-white:active,
fieldset[disabled] .btn-oc-white.active {
  background-color: none;
  border-color: #ccc;
  color: #ccc;
}

.container {
	min-width: 100%;
}
.shadow {
	text-shadow: 2px 1px 0 #30FFCE,4px 3px 0 rgba(0,0,0,0.05);
}

.form-control {
display: block;
width: 100%;
height: 60px;
padding: 5px 12px;
font-size: 26px;
color: #007aff;
background-color: #f7f7f7;
border: 0px solid #cccccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
border: 2px solid rgba(0, 122, 255, 0.8);
box-shadow: 0 1px 1px rgba(0, 122, 255, 0.0) inset, 0 0 8px rgba(0, 122, 255, 0.0);
outline: 0 none;
}

.navbar-toggle {
	border: 2px solid #007aff;
}
.icon-bar {
	background: #007aff;
}
.navbar-nav a:hover{
	background-color: #007aff;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: #fff !important;
  background-color: #007aff !important;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #fff !important;
  background-color: #007aff !important;
}