body {
	font-family: 'Roboto', sans-serif;
}
#header {
	text-align: center;
}
#header h1 {
	margin: 0;
}
#header img {
	float: right;
}
#footer {
	text-align: center;
	font-style: italic;
	padding-top: 20px;
}
#menu {
	font-weight: bold;
	background-color: #ddd;
}
#menu ul {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0 0 50% 5px;
	font-weight: normal;
	background-color: #ddd;
	width: 100px;
}
#content {
	margin-left: 120px;
}
.message {
	color: #390;
}
.error {
	color: #f00;
}
.full-screen {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.hero-unit {
background: #30ffce; /* Old browsers */
background: -moz-linear-gradient(top,  #30ffce 0%, #4ccfff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#30ffce), color-stop(100%,#4ccfff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #30ffce 0%,#4ccfff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #30ffce 0%,#4ccfff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #30ffce 0%,#4ccfff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #30ffce 0%,#4ccfff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ffce', endColorstr='#4ccfff',GradientType=0 ); /* IE6-9 */

	background-size: 100%;
	width: 100%;
}
.yellowBackground {
	background: #FFDB4C; /* Old browsers */
	background-size: 100%;
	width: 100%;
}

.blueBackground {
	background: #52edc7; /* Old browsers */
	background-size: 100%;
	width: 100%;
}
.orangeBackground {
	background: #ff5e3a; /* Old browsers */
	background-size: 100%;
	width: 100%;
}
.white {
	color: white;
}
